.terraform/
actions-runner/
actions-runner.yml
*.tfstate
*.tfstate.*
terraform.tfvars
*.auto.tfvars
crash.log
crash.*.log
node_modules/
backend/.npm-cache/
frontend/dist/
backend/**/__pycache__/
*.pyc
